@model ModModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="container">
    <div class="row">
        <div class="col-5">
            <h2>Create new mod</h2>

            @using (Html.BeginForm("Create", "Mods", FormMethod.Post, new { enctype="multipart/form-data"}))
            {
                <label for="modId" class="form-label">Mod ID: </label>
                @Html.TextBoxFor(m => m.ModId, new { @class = "form-control"})

            <br />

            <label for="modName" class="form-label">Mod name: </label>
            @Html.TextBoxFor(m => m.ModName, new { @class = "form-control"})

            <br />

            <input type="submit" class="btn btn-primary"/>
            }
        </div>
    </div>
</div>
@ViewBag.Msg
